/* page */
.dashboard-page ion-content {
  --padding-bottom: 45px;
}

/* circular progress */
.dashboard-page .circular-progress-container {
  display: grid;
  place-items: center;
  width: 100%;
  height: 290px;
}

.dashboard-page .circular-background-md {
  background-color: transparent;
  box-shadow: none !important;
}

.dashboard-page .circular-progress-container.circular-background-md {
  background-color: transparent;
  box-shadow: none !important;
}

.dashboard-page .circular-progress {
  width: 270px;
  height: 270px;
}

.dashboard-page .progress-text {
  position: absolute;
  bottom: 210px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.dashboard-page .progress-chip {
  position: absolute;
  bottom: 75px;
  left: 49%;
  transform: translateX(-50%);
  z-index: 10;
}

/* card */
.dashboard-page .sensor-card {
  margin: 0 8px 0;
  border-radius: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* card content */
.dashboard-page .sensor-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

/* sensor info */
.dashboard-page .sensor-info {
  flex: 1;
}

.dashboard-page .sensor-name {
  margin: 0;
  font-size: 0.9rem;
  color: #f6f8fc;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.dashboard-page .sensor-value {
  margin: 8px 0 0;
  padding-right: 8px;
  font-size: 2.5rem;
  font-weight: bold;
  color: #000;
}

/* sensor unit */
.dashboard-page .sensor-unit {
  font-size: 1.3rem;
  color: #f6f8fc;
  font-weight: 500;
}

/* success */
.dashboard-page .sensor-card-success {
  border-left: 6px solid #42d96b;
}

.dashboard-page .sensor-card-success .sensor-value {
  color: #42d96b;
}

/* warning */
.dashboard-page .sensor-card-warning {
  border-left: 6px solid #ffca22;
}

.dashboard-page .sensor-card-warning .sensor-value {
  color: #ffca22;
}

/* danger */
.dashboard-page .sensor-card-danger {
  border-left: 6px solid #cb1a27;
}

.dashboard-page .sensor-card-danger .sensor-value {
  color: #cb1a27;
}

/* Effects */
.dashboard-page .sensor-card-touch {
  outline-offset: -6px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
}

.dashboard-page .sensor-card-touch:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.dashboard-page .sensor-card-touch:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
