ion-menu[menuId="device-menu"] ion-content {
    --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu[menuId="device-menu"].md ion-content {
    --padding-start: 8px;
    --padding-end: 8px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

ion-menu[menuId="device-menu"].md ion-list {
    padding: 20px 0;
}

ion-menu[menuId="device-menu"].md ion-list-header {
    font-size: 22px;
    font-weight: 600;
    min-height: 20px;
    padding-left: 10px;
    margin-bottom: 16px;
}

ion-menu[menuId="device-menu"].md ion-item {
    --padding-start: 10px;
    --padding-end: 10px;
    border-radius: 12px;
}

ion-menu[menuId="device-menu"].md ion-item.selected {
    --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu[menuId="device-menu"].md ion-item.selected ion-icon {
    color: var(--ion-color-primary);
}

ion-menu[menuId="device-menu"].md ion-item ion-icon {
    color: #616e7e;
}

ion-menu[menuId="device-menu"].md ion-item ion-label {
    font-weight: 500;
}

ion-menu[menuId="device-menu"].ios ion-content {
    --padding-bottom: 20px;
}

ion-menu[menuId="device-menu"].ios ion-list {
    padding: 20px 0 0 0;
}

ion-menu[menuId="device-menu"].ios ion-list-header {
    font-size: 20px;
    font-weight: 600;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 8px;
}

ion-menu[menuId="device-menu"].ios ion-item {
    --padding-start: 16px;
    --padding-end: 16px;
    --min-height: 50px;
}

ion-menu[menuId="device-menu"].ios ion-item ion-icon {
    font-size: 24px;
    color: #73849a;
}

ion-menu[menuId="device-menu"].ios ion-item.selected ion-icon {
    color: var(--ion-color-primary);
}

ion-menu[menuId="device-menu"] ion-item.selected {
    --color: var(--ion-color-primary);
}
