.graph-loading,
.graph-empty {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.graph-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.graph-value-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.graph-value {
  font-weight: bold;
  font-size: 1.2rem;
}

.graph-status-chip {
  margin: 0;
}

.graph-container {
  height: 250px;
}
