/* page */
.timer-page ion-content {
  --padding-bottom: 45px;
}

/* circular progress */
.timer-page .circular-progress-container {
  display: grid;
  place-items: center;
  width: 100%;
  height: 290px;
}

.timer-page .circular-background-md {
  background-color: #121212;
  box-shadow: none !important;
}

.timer-page .circular-progress-container.circular-background-md {
  background-color: #121212;
  box-shadow: none !important;
}

.timer-page .circular-progress {
  width: 270px;
  height: 270px;
}

.timer-page .timer-text {
  position: absolute;
  font-weight: 700;
  font-size: 50px;
  color: #1a65eb;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.timer-page .progress-chip {
  position: absolute;
  bottom: 80px;
  left: 49%;
  transform: translateX(-50%);
  z-index: 10;
}

/* card */
.timer-page .timer-card {
  margin: 0 8px 5px;
  border-radius: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* hover */
.timer-page .timer-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

/* active */
.timer-page .timer-card:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* card content */
.timer-page .timer-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

/* card states */
.timer-page .timer-card-primary .timer-value {
  color: #f6f8fc;
}

.timer-page .timer-card-selected {
  outline: 6px solid #1a65eb;
  outline-offset: -6px;
  box-shadow: 0 0 0 2px rgba(0, 84, 233, 0.2);
}

.timer-page .timer-card-selected:hover {
  box-shadow: 0 4px 12px rgba(0, 84, 233, 0.4);
}

.timer-page .timer-card-selected .timer-value {
  color: #1a65eb;
}

/* text */
.timer-page .timer-info {
  flex: 1;
}

.timer-page .timer-name {
  margin: 0;
  font-size: 0.9rem;
  color: #f6f8fc;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.timer-page .timer-value {
  margin: 8px 0 0;
  padding-right: 8px;
  font-size: 2.5rem;
  font-weight: bold;
  color: #000;
}

/* radio */
.timer-page ion-radio::part(container),
.timer-page ion-radio.radio-checked::part(container) {
  border-color: transparent;
}

.timer-page ion-radio::part(mark),
.timer-page ion-radio.radio-checked::part(mark) {
  background: none;
  transition: none;
  transform: none;
  border-radius: 0;
  border-color: transparent;
}
