.circular-progress-container {
  display: grid;
  place-items: center;
  width: 100%;
  height: 225px;
}

.circular-background-md {
  background-color: #121212;
  box-shadow: none !important;
}

.circular-progress {
  margin-top: 10px;
  width: 225px;
  height: 225px;
}

.progress-text {
  position: absolute;
  bottom: 160px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.progress-chip {
  position: absolute;
  bottom: 80px;
  left: 49%;
  transform: translateX(-50%);
  z-index: 10;
}

ion-content {
  --padding-bottom: 45px;
}
